.chat-section,
.messages-section {
    margin: 20px auto;
    width: 80%;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-top: 10px;
}

input,
select,
textarea {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    margin-top: 15px;
    padding: 10px;
    border: none;
    background: #005792;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    background: #f1f1f1;
    margin-bottom: 5px;
    border-radius: 5px;
    position: relative;
}

.delete-btn {
    background-color: red;
    color: white;
    padding: 5px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    position: absolute;
    right: 10px;
    top: 10px;
}